<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: header">
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="fragments :: sidebar">
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments :: topbar"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex justify-content-between">
                                    <h3>
                                        Update User

                                    </h3>
                                    <a
                                            type="button"
                                            class="btn btn-primary"
                                            th:href = "@{/admin/users}"
                                    >
                                        Back
                                    </a>
                                </div>

                            </div>
                            <div class="card-body">
                                <div class="container-fluid">
                                    <form class="form-horizontal" th:action="@{/admin/update-user/{id} (id = ${customer.id})}" method="post" enctype="multipart/form-data" th:object = "${customer}">
                                        <div class="row">
                                            <div class="col-12 col-lg-9">
                                                <div class="form-group row">
                                                    <label for="product_name" class="col-sm-2 col-form-label">Last name</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="product_name" th:field = "*{lastName}" name="product_name" required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="description" class="col-sm-2 col-form-label">First Name </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control"  id="description" th:field = "*{firstName}" name="description" required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control"  id="email" th:field = "*{username}" name="available_quantity"  readonly>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                                                    <div class="col-sm-10">
                                                        <input type="password" class="form-control"  id="password" name="password" th:field = "*{password}" required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="available_quantity" class="col-sm-2 col-form-label">Phone Number</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control"  id="available_quantity" th:field = "*{phoneNumber}" name="available_quantity" required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="price" class="col-sm-2 col-form-label">Address</label>
                                                    <div class="col-sm-10">
                                                        <textarea rows="4"  class="form-control"  id="price" name="price" th:field = "*{address}" required></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </form>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments :: footer">
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="fragments :: scroll">
</a>

<!-- Logout Modal-->

<!-- Bootstrap core JavaScript-->
<div th:replace="fragments :: script"></div>
<script th:src="@{/js/categories.js}"></script>

</body>

</html>